#root {
  margin: 0 auto;
  text-align: center;
}

.pantalla {
  width: 100%;
  background-color: rgb(195, 202, 202);
}

.navbar,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}
.footer{
    justify-content: center;

}

.sidebar {
  border: 1px solid #333;
  padding: 0.5rem;
}

.lisidebar {
  margin: 0.5rem auto;
  padding: 0.5rem;
}
.receta{
  display: flex;
  justify-content: center;
  margin: 20px;
  border: 1px solid #000;
  gap: 15px;
  padding: 10px; 
  }
.About a{
  margin: 0 5px;
  border: 1px solid #000;
  padding: 0.5rem;
  transition: all 0.5s;
}
.About a:hover{
 background-color: aqua;
}
.itemdetails{
  display: inline-flex;
}
.itemdetails .calories{
  margin: 10px;
  border: 1px blueviolet solid;
}

.itemdetails .servings{
  margin: 10px; 
  border: 1px green solid;
}
.navbar-logo {
    max-width: 100px;  
    height: auto;      
}

.navbar-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
