#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.pantalla {
  background-color: rgb(195, 202, 202);
}

.navbar,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}
.footer{
    justify-content: center;

}

.sidebar {
  border: 1px solid #333;
  padding: 0.5rem;
}

.lisidebar {
  margin: 0.5rem auto;
  padding: 0.5rem;
}
.receta{
  display: flex;
  justify-content: center;
  margin: 20px;
  border: 1px solid #000;
}
p{
  color: black;
}